# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Importing path

In [2]:
path = r'/Users/heatherstewart/Dropbox/Mac/Desktop/Instacart Basket analysis 3'

In [3]:
path

'/Users/heatherstewart/Dropbox/Mac/Desktop/Instacart Basket analysis 3'

# Importing customer dataframe

In [6]:
df_cust = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data','df_combo_all.pkl'))

In [7]:
df_cust.head()

,customer_id,first_name,sirname,gender,state,customer_age,date_joined,n_dependants,fam_status,income,...,prices,_merge,price_range_loc,Busiest days,max_order,loyalty_flag,average_price,spending_flag,regularity,order_frequency_flag
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,9.0,both,Mid_range product,Busiest days,8,New customer,102727.771831,High spender,20.0,Regular customer
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,9.0,both,Mid_range product,Regularly busy,8,New customer,102727.771831,High spender,20.0,Regular customer
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,9.0,both,Mid_range product,Busiest days,8,New customer,102727.771831,High spender,20.0,Regular customer
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,12.6,both,Mid_range product,Regularly busy,8,New customer,103056.699960,High spender,20.0,Regular customer
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,12.6,both,Mid_range product,Regularly busy,8,New customer,103056.699960,High spender,20.0,Regular customer

In [8]:
# Printing shape of df_cust dataframe

df_cust.shape

(32406041, 31)

In [9]:
# Printing statistic for df_cust dataframe

df_cust.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32406041 entries, 0 to 32406040
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   customer_id             int64
 1   first_name              object
 2   sirname                 object
 3   gender                  object
 4   state                   object
 5   customer_age            int64
 6   date_joined             object
 7   n_dependants            int64
 8   fam_status              object
 9   income                  int64
 10  order_id                int64
 11  order_number            int64
 12  orders_day_of_week      int64
 13  order_hour_of_day       object
 14  days_since_prior_order  float64
 15  product_id              int64
 16  add_to_cart_order       int64
 17  reordered               int64
 18  product_name            object
 19  aisle_id                int64
 20  department_id           int64
 21  prices                  float64
 22  _merge                  category
 23  price_range_loc         object
 24  Busiest days            object
 25  max_order               int64
 26  loyalty_flag            object
 27  average_price           float64
 28  spending_flag           object
 29  regularity              float64
 30  order_frequency_flag    object
dtypes: category(1), float64(4), int64(13), object(13)
memory usage: 7.5+ GB

In [17]:
df_cust['customer_id'] = df_cust['customer_id'].astype('int32')
df_cust['customer_age'] = df_cust['customer_age'].astype('int8')
df_cust['n_dependants'] = df_cust['n_dependants'].astype('int8')
df_cust['income'] = df_cust['income'].astype('int32')
df_cust['order_id'] = df_cust['order_id'].astype('int32')
df_cust['order_number'] = df_cust['order_number'].astype('int32')
df_cust['orders_day_of_week'] = df_cust['orders_day_of_week'].astype('int8') 
df_cust['reordered'] = df_cust['reordered'].astype('int32') 
df_cust['aisle_id'] = df_cust['aisle_id'].astype('int32') 
df_cust['department_id'] = df_cust['department_id'].astype('int32') 
df_cust['max_order'] = df_cust['max_order'].astype('int32') 
df_cust['add_to_cart_order'] = df_cust['add_to_cart_order'].astype('int32')

In [18]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32406041 entries, 0 to 32406040
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   customer_id             int32
 1   first_name              object
 2   sirname                 object
 3   gender                  object
 4   state                   object
 5   customer_age            int8
 6   date_joined             object
 7   n_dependants            int8
 8   fam_status              object
 9   income                  int32
 10  order_id                int32
 11  order_number            int32
 12  orders_day_of_week      int8
 13  order_hour_of_day       object
 14  days_since_prior_order  float64
 15  product_id              int64
 16  add_to_cart_order       int32
 17  reordered               int32
 18  product_name            object
 19  aisle_id                int32
 20  department_id           int32
 21  prices                  float64
 22  _merge                  category
 23  price_range_loc         object
 24  Busiest days            object
 25  max_order               int32
 26  loyalty_flag            object
 27  average_price           float64
 28  spending_flag           object
 29  regularity              float64
 30  order_frequency_flag    object
dtypes: category(1), float64(4), int32(9), int64(1), int8(3), object(13)
memory usage: 5.8+ GB

In [19]:
# Split the dataframe 

np.random.seed(42)
dev = np.random.rand(len(df_cust))<= 0.7

In [20]:
# Create 30% dataframe


small = df_cust[~dev]

# Exporting the df_combo_all dataframe

In [21]:
# Exporting dataframe as pickle 

small.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','df_combo_small.pkl'))